body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
tr td strong{
    font-family: Arial;
    justify-content: center;
    align-items: center;

}

h1 {
    background-color: #ff4444;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"], input[type="submit"] {
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: inset 0 1px 2px black;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #888;
    border-color: #444;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0000;
    border-color: #eee;
}

.resultados {
    margin-top: 20px;
    overflow: hidden;
}

.resultado {
    background-color: #000;
    color: #fff;
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 150px;
}

.resultado.cantidad {
    background-color: #444;
}

.resultado.pares {
    background-color: #888;
}

.resultado.impares {
    background-color: #aaa;
}

.resultado.multiplos {
    background-color: #ccc;
}
