
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			margin: 0;
			padding: 0;
		}

		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
			border-radius: 10px;
			margin-top: 50px;
		}

		h1 {
			text-align: center;
			margin-top: 0;
			color: #333;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		label {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 5px;
			color: #555;
		}

		input[type="text"], textarea {
			padding: 10px;
			font-size: 1em;
			border-radius: 5px;
			border: 1px solid #ccc;
			margin-bottom: 10px;
			width: 100%;
			max-width: 500px;
			min-height: 100px;
			resize: none;
		}

		input[type="submit"] {
			padding: 10px;
			background-color: #333;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 1.2em;
			 transition: background-color 0.2s ease;
		}

		input[type="submit"]:hover {
			background-color: #555;
		}

		.resultado {
			margin-top: 20px;
			font-size: 1.2em;
			font-weight: bold;
			color: #333;
			text-align: center;
            
		}

		.resultado span {
			color: #555;
			font-weight: normal;
            text-align: center;
		}
