
body {
    background-color: #EFEFEF;
    font-family: Arial, sans-serif;
}
h1 {
    color: #FF0000;
    text-align: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid red;
    background-color: #FFFFFF;
}
th, td {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #FF0000;
    color: #FFFFFF;
}
input[type="text"] {
    padding: 5px;
    border: 2px solid #EFEFEF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}
input[type="text"]:hover, input[type="text"]:focus {
    border-color: #FF0000;
    box-shadow: 0 0 5px #FF0000;
    color: #FF0000;
    transform: scale(1.05);
}
input[type="submit"] {
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #FFFFFF;
    color: #FF0000;
    box-shadow: 0 0 5px #FF0000;
    transform: scale(1.05);
}